.searchBox {
  width: 60%;
  /* height: 56px; */
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
 
}

.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;
  width: 100%;
  outline: none;
  border-radius: 0%;
  font: 300 1.1vmax cursive;
  box-sizing: border-box;
  height: 100%;
}

.searchBox > input[type="submit"] {
  height: 100%;
  border-radius: 0%;
  background-color: tomato;
  border: none;
  padding: 1vmax;
  font: 300 1.1vmax "Roboto";
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.searchBox > input[type="submit"]:hover {
  background-color: rgb(55, 97, 214);
}
@media screen and (max-width:960px) {
.searchBox {
  width: 90%;
  position: absolute;
  top: 13%;
  z-index: 20;
  max-width: 100vh;
  margin: 10px;
} 
 .searchBox > input[type="submit"] {
  display: none;
  }

}
@media screen and (max-width:660px) {
.searchBox {
  width: 70vh;
  position: absolute;
  top: 17vh;
  z-index: 20;
  max-width: 100vh;
  margin: 5px;
} 
 
}
@media screen and (max-width: 600px) {
  .searchBox {
  width: 44vh;

} 
  .searchBox > input[type="text"] {
    width: 70vh;
    font: 300 4vw cursive;
    height: 10%;
  }

  .searchBox > input[type="submit"] {
display: none;
  }
}
